In [59]:
import pandas as pd
import numpy as np
import datetime
from sqlalchemy import create_engine
from pymysql import ProgrammingError

In [60]:
def dump_data(data,database,table):
    engine = create_engine('mysql+pymysql://root:password@0.0.0.0:3306/{}'.format(database))
    print('mysql+pymysql://root:password@0.0.0.0:3306/{}'.format(database),table)
    data.to_sql(con=engine,name=table,if_exists='append',index=False)
    print('Dump data to db {}, table {}'.format(database,table))

## GSPC Data

In [61]:
GSPC = pd.read_csv('/Users/yangli/OneDrive/MMAI/Capstone/Data/^GSPC.csv')

In [62]:
GSPC.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-12-31,2498.939941,2538.070068,2443.959961,2531.939941,2531.939941,15212300000
1,2019-01-07,2535.610107,2597.820068,2524.560059,2596.260010,2596.260010,19379210000
2,2019-01-14,2580.310059,2675.469971,2570.409912,2670.709961,2670.709961,18859550000
3,2019-01-21,2657.879883,2672.379883,2612.860107,2664.760010,2664.760010,14490970000
4,2019-01-28,2644.969971,2716.659912,2624.060059,2706.530029,2706.530029,19661740000

In [63]:
GSPC['Close_change']=GSPC['Adj Close'].pct_change()

In [64]:
GSPC_Weekly = GSPC.dropna(subset =['Close_change'])

In [65]:
GSPC_Weekly = GSPC_Weekly[['Date','Close_change']]

In [66]:
GSPC_Weekly.Date = GSPC_Weekly.Date.astype(str)

In [67]:
GSPC_Weekly.head()

         Date  Close_change
1  2019-01-07      0.025403
2  2019-01-14      0.028676
3  2019-01-21     -0.002228
4  2019-01-28      0.015675
5  2019-02-04      0.000499

GSPC_Weekly.to_csv('GSPC_Weekly_pct_change.csv')

In [68]:
GSPC_daily = pd.read_csv('/Users/yangli/OneDrive/MMAI/Capstone/Data/^GSPC_daily.csv')

In [69]:
GSPC_daily['Close_change']=GSPC_daily['Adj Close'].pct_change()

In [70]:
GSPC_daily = GSPC_daily[['Date','Close_change']]
GSPC_daily['Close_change_Weekly'] = GSPC_daily[['Date','Close_change']].rolling(window=5).mean()

In [71]:
GSPC_daily = GSPC_daily.dropna(subset =['Close_change'])
GSPC_daily.head()

         Date  Close_change  Close_change_Weekly
1  2019-01-02      0.001268                  NaN
2  2019-01-03     -0.024757                  NaN
3  2019-01-04      0.034336                  NaN
4  2019-01-07      0.007010                  NaN
5  2019-01-08      0.009695             0.005511

GSPC_daily.to_csv('GSPC_daily_pct_change.csv')

## Slope Data

In [72]:
slope = pd.read_csv('/Users/yangli/OneDrive/MMAI/Capstone/Data/T10Y2Y.csv')

In [73]:
slope['DATE'] = pd.to_datetime(slope['DATE'])
slope = slope[slope['DATE']>=datetime.datetime(2018,12,31)]
slope = slope.set_index('DATE')
logic = {'T10Y2Y'  : 'last'}
offset = pd.offsets.timedelta(days=-6)
slope = slope.resample('W', loffset=offset).apply(logic)
slope = slope[slope['T10Y2Y']!='.']
slope["T10Y2Y"] = pd.to_numeric(slope["T10Y2Y"])
slope['slope_change']=slope['T10Y2Y'].pct_change()
slope.reset_index(inplace=True)

In [74]:
slope_weekly = slope.dropna(subset =['slope_change'])

In [75]:
slope_weekly['Date'] = slope_weekly['DATE']

In [76]:
slope_weekly = slope_weekly[['Date','slope_change']]

In [77]:
slope_weekly.head()

        Date  slope_change
1 2019-01-07     -0.058824
2 2019-01-14      0.062500
3 2019-01-21     -0.058824
4 2019-01-28      0.125000
5 2019-02-04      0.000000

slope_weekly.to_csv('slope_weekly_pct_change.csv')

In [78]:
slope_daily = pd.read_csv('/Users/yangli/OneDrive/MMAI/Capstone/Data/T10Y2Y.csv')

In [79]:
slope_daily = slope_daily[slope_daily['T10Y2Y']!='.']
slope_daily["T10Y2Y"] = pd.to_numeric(slope_daily["T10Y2Y"])
slope_daily['slope_change']=slope_daily['T10Y2Y'].pct_change()
slope_daily = slope_daily.dropna(subset =['slope_change'])

In [80]:
slope_daily['Date'] = slope_daily['DATE']

In [81]:
slope_daily = slope_daily[['Date','slope_change']]
slope_daily['slope_change_Weekly'] = slope_daily[['Date','slope_change']].rolling(window=5).mean()

In [82]:
slope_daily.head()

         Date  slope_change  slope_change_Weekly
1  2015-08-11     -0.026490                  NaN
2  2015-08-12      0.000000                  NaN
3  2015-08-13      0.000000                  NaN
4  2015-08-14      0.000000                  NaN
5  2015-08-17     -0.020408             -0.00938

slope_daily.to_csv('slope_daily_pct_change.csv')

## VIXcurrent

In [83]:
vixcurrent = pd.read_csv('/Users/yangli/OneDrive/MMAI/Capstone/Data/vixcurrent.csv')

In [84]:
vixcurrent['Date'] = pd.to_datetime(vixcurrent['Date'])
vixcurrent = vixcurrent[vixcurrent['Date']>=datetime.datetime(2018,12,31)]
vixcurrent_weekly = vixcurrent.set_index('Date')
logic = {'VIX Close'  : 'last'}
offset = pd.offsets.timedelta(days=-6)
vixcurrent_weekly = vixcurrent_weekly.resample('W', loffset=offset).apply(logic)
vixcurrent_weekly['vix_change']=vixcurrent_weekly['VIX Close'].pct_change()
vixcurrent_weekly.reset_index(inplace=True)

In [85]:
vixcurrent_weekly=vixcurrent_weekly.dropna(subset =['vix_change'])
vixcurrent_weekly = vixcurrent_weekly[['Date','vix_change']]

In [86]:
vixcurrent_weekly.head()

        Date  vix_change
1 2019-01-07   -0.149205
2 2019-01-14   -0.021440
3 2019-01-21   -0.021348
4 2019-01-28   -0.073479
5 2019-02-04   -0.026022

vixcurrent_weekly.to_csv('vixcurrent_weekly_pct_change.csv')

In [87]:
vixcurrent['vix_change']=vixcurrent['VIX Close'].pct_change()
vixcurrent_daily= vixcurrent.dropna(subset =['vix_change'])

vixcurrent_daily = vixcurrent_daily[['VIX Close','vix_change']]

In [88]:
vixcurrent_daily.head()

           Date  VIX Open  VIX High  VIX Low  VIX Close  vix_change
3775 2019-01-02     27.54     28.53    23.05      23.22   -0.086546
3776 2019-01-03     25.68     26.60    24.05      25.45    0.096038
3777 2019-01-04     24.36     24.48    21.19      21.38   -0.159921
3778 2019-01-07     22.06     22.71    20.91      21.40    0.000935
3779 2019-01-08     20.96     22.03    20.09      20.47   -0.043458

In [89]:
vixcurrent_daily = vixcurrent_daily[['Date','vix_change']]
vixcurrent_daily['vix_change_Weekly'] = vixcurrent_daily[['Date','vix_change']].rolling(window=5).mean()

In [90]:
vixcurrent_daily

           Date  vix_change  vix_change_Weekly
3775 2019-01-02   -0.086546                NaN
3776 2019-01-03    0.096038                NaN
3777 2019-01-04   -0.159921                NaN
3778 2019-01-07    0.000935                NaN
3779 2019-01-08   -0.043458          -0.038590
...         ...         ...                ...
4175 2020-08-04   -0.021417          -0.013236
4176 2020-08-05   -0.032407          -0.009183
4177 2020-08-06   -0.014789          -0.017618
4178 2020-08-07   -0.019426          -0.019080
4179 2020-08-10   -0.003602          -0.018328

[405 rows x 3 columns]

vixcurrent_daily.to_csv('vixcurrent_daily_pct_change.csv')

## Skewdaily prices

In [91]:
Skew = pd.read_csv('/Users/yangli/OneDrive/MMAI/Capstone/Data/skewdailyprices.csv')

In [92]:
Skew

            Date    SKEW
0       1/2/1990  126.09
1       1/3/1990  123.34
2       1/4/1990  122.62
3       1/5/1990  121.27
4       1/8/1990  124.12
...          ...     ...
7696  08/04/2020  141.64
7697  08/05/2020  139.59
7698  08/06/2020  141.75
7699  08/07/2020  139.75
7700  08/10/2020  137.50

[7701 rows x 2 columns]

In [93]:
Skew['Date'] = pd.to_datetime(Skew['Date'])
Skew = Skew[Skew['Date']>=datetime.datetime(2018,12,31)]
Skew_weekly = Skew.set_index('Date')
logic = {'SKEW'  : 'last'}
offset = pd.offsets.timedelta(days=-6)
Skew_weekly = Skew_weekly.resample('W', loffset=offset).apply(logic)
Skew_weekly['skew_change']=Skew_weekly['SKEW'].pct_change()
Skew_weekly.reset_index(inplace=True)

In [94]:
Skew_weekly= Skew_weekly.dropna(subset =['skew_change'])
Skew_weekly = Skew_weekly[['Date','skew_change']]
type(Skew_weekly)

pandas.core.frame.DataFrame

Skew_weekly.to_csv('Skew_weekly_pct_change.csv')

In [95]:
Skew['skew_change']=Skew['SKEW'].pct_change()
Skew_daily= Skew.dropna(subset =['skew_change'])

In [96]:
Skew_daily.head()

           Date    SKEW  skew_change
7296 2019-01-02  117.26    -0.004584
7297 2019-01-03  112.22    -0.042981
7298 2019-01-04  111.44    -0.006951
7299 2019-01-07  113.56     0.019024
7300 2019-01-08  115.30     0.015322

In [97]:
Skew_daily = Skew_daily[['Date','skew_change']]
Skew_daily['skew_change_Weekly'] = Skew_daily[['Date','skew_change']].rolling(window=5).mean()

In [98]:
Skew_daily.head()

           Date  skew_change  skew_change_Weekly
7296 2019-01-02    -0.004584                 NaN
7297 2019-01-03    -0.042981                 NaN
7298 2019-01-04    -0.006951                 NaN
7299 2019-01-07     0.019024                 NaN
7300 2019-01-08     0.015322           -0.004034

Skew_daily.to_csv('Skew_daily_pct_change.csv')

## ICE SWAP DATA 3 Years

In [99]:
swap_rate = pd.read_csv('/Users/yangli/OneDrive/MMAI/Capstone/Data/ICERATES1100USD3Y.csv')

In [100]:
swap_rate.head()

         DATE ICERATES1100USD3Y
0  2015-08-18             1.255
1  2015-08-19             1.253
2  2015-08-20             1.184
3  2015-08-21             1.159
4  2015-08-24             1.071

In [101]:
swap_rate['DATE'] = pd.to_datetime(swap_rate['DATE'])
swap_rate = swap_rate[swap_rate['DATE']>=datetime.datetime(2018,12,31)]
swap_rate_weekly = swap_rate.set_index('DATE')
logic = {'ICERATES1100USD3Y'  : 'last'}
offset = pd.offsets.timedelta(days=-6)
swap_rate_weekly = swap_rate_weekly.resample('W', loffset=offset).apply(logic)
swap_rate_weekly = swap_rate_weekly[swap_rate_weekly['ICERATES1100USD3Y']!='.']
swap_rate_weekly["ICERATES1100USD3Y"] = pd.to_numeric(swap_rate_weekly["ICERATES1100USD3Y"])
swap_rate_weekly['swap_change']=swap_rate_weekly['ICERATES1100USD3Y'].pct_change()
swap_rate_weekly.reset_index(inplace=True)

In [102]:
swap_rate_weekly = swap_rate_weekly.dropna(subset =['swap_change'])

In [103]:
swap_rate_weekly['Date'] = swap_rate_weekly['DATE']

In [104]:
swap_rate_weekly = swap_rate_weekly[['Date','swap_change']]

In [105]:
swap_rate_weekly.head()

        Date  swap_change
1 2019-01-07     0.021773
2 2019-01-14     0.035388
3 2019-01-21    -0.012128
4 2019-01-28    -0.031250
5 2019-02-04    -0.022273

swap_rate_weekly.to_csv('swap_rate_weekly_pct_change.csv')

In [106]:
swap_rate = swap_rate[swap_rate['ICERATES1100USD3Y']!='.']
swap_rate["ICERATES1100USD3Y"] = pd.to_numeric(swap_rate["ICERATES1100USD3Y"])
swap_rate['swap_change']=swap_rate['ICERATES1100USD3Y'].pct_change()
swap_rate_daily = swap_rate.dropna(subset =['swap_change'])

In [107]:
swap_rate_daily.head()

          DATE  ICERATES1100USD3Y  swap_change
881 2019-01-02              2.605    -0.004966
883 2019-01-04              2.572    -0.012668
884 2019-01-07              2.586     0.005443
885 2019-01-08              2.639     0.020495
886 2019-01-09              2.653     0.005305

In [108]:
swap_rate_daily['Date'] = swap_rate_daily['DATE']

In [109]:
swap_rate_daily = swap_rate_daily[['Date','swap_change']]
swap_rate_daily['swap_change_Weekly'] = swap_rate_daily[['Date','swap_change']].rolling(window=5).mean()

In [110]:
swap_rate_daily.head()

          Date  swap_change  swap_change_Weekly
881 2019-01-02    -0.004966                 NaN
883 2019-01-04    -0.012668                 NaN
884 2019-01-07     0.005443                 NaN
885 2019-01-08     0.020495                 NaN
886 2019-01-09     0.005305            0.002722

swap_rate_daily.to_csv('swap_rate_daily_pct_change.csv')

## Merge all other data

#### Daily

In [111]:
final_market_data = Skew_daily.merge(swap_rate_daily,on='Date',how='left')
final_market_data = final_market_data.merge(vixcurrent_daily,on='Date',how='left')
final_market_data.Date = final_market_data.Date.astype(str)
slope_weekly.Date = slope_weekly.Date.astype(str)
final_market_data = final_market_data.merge(GSPC_daily,on='Date',how='right')
final_market_data = final_market_data.merge(slope_daily,on='Date',how='left')
final_market_data.Date = pd.to_datetime(final_market_data.Date)

In [112]:
final_market_data = pd.DataFrame(final_market_data.rename(columns={"Date": "KeyDate"}))

In [113]:
final_market_data = final_market_data.replace([np.inf, -np.inf], np.nan)

In [114]:
final_market_data.fillna(method='ffill').dropna()

,KeyDate,skew_change,skew_change_Weekly,swap_change,swap_change_Weekly,vix_change,vix_change_Weekly,Close_change,Close_change_Weekly,slope_change,slope_change_Weekly
5,2019-01-09,0.014831,-0.000151,0.005305,0.002722,-0.023937,-0.026069,0.004098,0.006077,0.200000,0.028971
6,2019-01-10,0.006068,0.009659,-0.004900,0.002735,-0.024024,-0.050081,0.004518,0.011932,0.000000,0.016471
7,2019-01-11,0.011638,0.013377,-0.004545,0.004360,-0.067179,-0.031533,-0.000146,0.005035,-0.111111,-0.005752
8,2019-01-14,0.051306,0.019833,0.003805,0.004032,0.048378,-0.022044,-0.005258,0.002582,0.125000,0.019248
9,2019-01-15,0.013339,0.019436,-0.000758,-0.000219,-0.024646,-0.018282,0.010722,0.002787,0.055556,0.053889
...,...,...,...,...,...,...,...,...,...,...,...
410,2020-08-18,-0.016100,-0.006025,0.038278,0.031193,-0.003602,-0.018328,0.002303,0.003358,0.022727,0.001402
411,2020-08-19,-0.016100,-0.006025,0.038278,0.031193,-0.003602,-0.018328,-0.004404,-0.000322,0.022727,0.001402
412,2020-08-20,-0.016100,-0.006025,0.038278,0.031193,-0.003602,-0.018328,0.003159,0.000719,0.022727,0.001402
413,2020-08-21,-0.016100,-0.006025,0.038278,0.031193,-0.003602,-0.018328,0.003441,0.001442,0.022727,0.001402
414,2020-08-24,-0.016100,-0.006025,0.038278,0.031193,-0.003602,-0.018328,0.010044,0.002908,0.022727,0.001402

In [115]:
type(final_market_data)

pandas.core.frame.DataFrame

#### Weekly

dump_data(final_market_data,'bond_db','market_data_weekly')